* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.theme {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
}

.theme button img {
    width: 50px;
    height: 50px;
}

body {
    padding: 30px 0 0 30px;
    background: linear-gradient(40deg, #00a6ff, #ff6363) no-repeat;
    /* background: linear-gradient(40deg, #0f6695, #842323) no-repeat; */
    height: 100vh;
}


table tr {
    background: #fff;
}

.maxResult {
    background: #8ff965;
}

.result,
.last_test,
.login_data,
.all_user,
.all_result {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 30px;
    background: #fff;
    /* background: #d6d6d6; */
    border-radius: 15px;
}

.all_result .table {
    max-height: 270px;
    overflow-y: auto;
}

h2 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    padding: 5px;
    border: 1px solid #000;
}

input[type="submit"] {
    padding: 10px 30px;
    border-radius: 10px;
    background: #4a7bdd;
    color: #fff;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #dd4a4a;
}

.avatar img {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #000;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    color: #000;
}

.test {
    margin-top: 5px;
    width: fit-content;
    position: relative;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.goToTest::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #000;
}