* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: linear-gradient(40deg, #00a6ff, #ff6363);
    padding: 20px;
}

.wrapper>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.answers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.answers label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.answers label:has(input:checked) {
    background: linear-gradient(30deg, #b8fff1, #4eff60);
}

.answers label input {
    display: none;
}

.answers label:nth-child(1) {
    background: #12ff07;
}

label:nth-child(2) {
    background: #07daff;
}

label:nth-child(3) {
    background: #ff0707;
}

label:nth-child(4) {
    background: #f7ff07;
}

button[type="submit"] {
    padding: 20px 60px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #98f0ff;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background: #ff5c5c;
}

.profile {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
}

.profile img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0px solid #000;
}

.profile img:hover {
    border: 1px solid #000;
}