body,
.wrapper {
    background: linear-gradient(40deg, #0b4462, #5e1717) no-repeat;
}

.result,
.last_test,
.login_data,
.all_user,
.all_result,
.wrapper>div,
.user_all_result {
    /* background: #fff; */
    background: #737373;
}

.wrapper>div p {
    color: #ffffff;
}

table tr {
    background: #c5bfbf;
}

.maxResult {
    background: #5f9f45;
}